@font-face {
	font-family: "bold-cool";
	src: url("VtksBoldandcool-2Vow.ttf");
}

@font-face {
	font-family: "waukegan";
	src: url("WaukeganLdo-ax19.ttf");
}

html * {
	font-family: "waukegan";
}

:focus {
	outline: dotted red;
}

body {
	margin: 0 auto;
	text-align: center;
	background: #267DA9;
	padding: 2em;
	font-family: "waukegan";
}

.main-title {
	font-family: "bold-cool";
	font-size: 12em;
}

button {
	margin: 1em auto;
	padding: 0 1em;
	font-size: 2.5em;
}

.torpedo-button {
	display: block;
	width: 480px;
	height: 90px;
	padding: 0 1em 0 0;
	background: center no-repeat url("torpeda.svg");
	border: none;
}

.torpedo-button:hover {
	border: solid black;
}

.torpedo-button:focus {
	border: solid black;
	outline: none;
}

.torpedo-button:active {
	background: center no-repeat url("torpeda-ciemna.svg");
}

.control-panel {
	display: flex;
	flex-direction: column;
	width: 30%;
	background: #9CA4A8;
}

.control-panel > * {
	flex-grow: 1;
}

.control-panel .ok-button {
	background: #7DA826;
	border-top-color: #99A87D;
	border-left-color: #99A87D;
	border-bottom-color: #537019;
	border-right-color: #537019;
}

.control-panel .ok-button:hover {
	outline: none;
}

.control-panel .ok-button:active {
	outline: none;
	color: #7DA826;
	background: #29380C;
	border-bottom-color: #99A87D;
	border-right-color: #99A87D;
	border-top-color: #537019;
	border-left-color: #537019;
}

.control-panel .abort-button {
	background: #A8263C;
	border-top-color: #A87D84;
	border-left-color: #A87D84;
	border-bottom-color: #701929;
	border-right-color: #701929;
}

.control-panel .abort-button:hover {
	outline: none;
}

.control-panel .abort-button:active {
	outline: none;
	color: #A8263C;
	background: #380C14;
	border-bottom-color: #A87D84;
	border-right-color: #A87D84;
	border-top-color: #701929;
	border-left-color: #701929;
}

.control-panel input[type=radio] {
	appearance: none;
	margin: 0;
	background: #CDC526;
	width: 1.5em;
	height: 1.5em;
	border: 0.15em solid;
	border-top-color: #CCC994;
	border-left-color: #CCC994;
	border-bottom-color: #888219;
	border-right-color: #888219;
}

.control-panel input[type=radio]:checked {
	background: #44410C;
	border-bottom-color: #CCC994;
	border-right-color: #CCC994;
	border-top-color: #888219;
	border-left-color: #888219;
}

.control-panel fieldset {
	border: none;
	display: grid;
	grid-template-columns: 2em auto;
	gap: 0.5em;
}

.control-panel .fieldset-title {
	grid-column: 1/3;
	font-size: 2em;
}

fieldset label {
	text-align: left
}

.form-inputs {
	margin: 1em auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 10px;
}

label {
	font-size: 2em;
}

.form-inputs label {
	margin: 0 0.5em;
}

.form-inputs input {
	margin: 0 0.5em;
	font-size: 2em;
}

.old-screen {
	background: black;
	color: #3f0;
	text-align: left;
	font-size: 1.5em;
	height: 25%;
	width: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.3em;
	padding: 0.3em;
	border: solid #9CA4A8;
	overflow: scroll;
	display: flex;
	flex-direction: column-reverse;
}

.old-screen p {
	margin: 0.1em;
}
